/*------------------------------------------------------ - - - - - - - - - -------*/
/*}{
//}{     name:           cosmo2: javascript rotator
//}{     description:    image rotator
//}{     location:       ./css/styles.css
//}{     author:         Daniel Flöter
//}{     website:        www.kometschuh.de
//}{     demo:           http://www.kometschuh.de/cosmo_slider/cosmo2/index.htm
//}{     date:           08.05.2012
//}{     license:        MIT or GPL
//}{     repository:     https://github.com/DanielFloeter/Cosmo2-a.k.a.-Cosmo-Slider-Full
/*}{
/*------------------------------------------------------ - - - - - - - - - -------*/


html, body
{
    background-image: url(../images/bg.png);
}
#cosmo2
{
    left: 400px;
    top: 200px;
    position: relative;
}
.image
{
    position: relative;
    width: 500px;
    height: 180px;
}
div.image img
{
    position: absolute;
}
.image img.bg
{
    border: 2px solid #e7f3da;
}
